<!DOCTYPE html>
<html>
<head>
	<title>MY CV</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Average|Crimson+Text|Kurale|Source+Sans+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/style.css?v=1">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
</head>
<body>
	
	<div class="page1 clearfix">
		<div class="container">
			<h1 class="heading">Divyansh Kumar</h1>
			<hr>
			<p>Interactive Resume</p>
		</div>
		<i class="fa fa-chevron-down fa-2x animated float-right bounce " aria-hidden="true"></i>
	</div>
	<div class="page2 clearfix ">
		<div class="user clearfix">
			<span  class="float-left fa bolt fa-user-plus fa-3x" aria-hidden="true"></span>
			<div class="wow">
				<p><a href="https://www.facebook.com/divyansh.kumar.75" target="_blank"><span class="fa fa-facebook-square fa-3x " aria-hidden="true"></span></a></p>
				<p><a href="https://twitter.com/DIVYANSHKUMAR4" target="_blank"><span class="fa fa-twitter-square fa-3x " aria-hidden="true"></span></a></p>
				<p><a href="https://www.instagram.com/divish007/" target="_blank"><span class="fa fa-instagram fa-3x " aria-hidden="true"></span></a></p>
				<p><a href="https://www.linkedin.com/in/divyansh-kumar-61300713b/" target="_blank"><span class="fa fa-linkedin-square fa-3x " aria-hidden="true"></span></a></p>
				<p><a href="https://www.tumblr.com/blog/divish1032" target="_blank"><span class="fa fa-tumblr-square fa-3x " aria-hidden="true"></span></a></p>
			</div>
		</div>
		
		<div class="container main float-left ">
			<div class="jumbotron jumbotron-fluid" >
			  <div class="container">
			    <h1 class="display-3">PROFILE</h1>
			    <p class="lead">I'm a creative Web Developer</p>
			  </div>
			</div>

			<hr>

			<div class="container">
				<div class="row">
				  	<div class="col-12 col-lg-4">
				  		<h2>About me</h2>
						<p>Exceptionally creative and dependable Entry Level Web Developer with a superb work ethic. Broadly knowledgeable in a wide variety of computer languages as well as the principles and techniques of website construction and maintenance. I love structure and order and I also stand for quality. I love spending time on fixing little details and optimizing web apps. Also I like working in a team, you'll learn faster and much more. As the saying goes: 'two heads are better than one'.</p>
					</div>
				  	<div class="col-12 col-lg-4"><img src="/images/pypic2.jpg"></div>
				  	<div class="col-12 col-lg-4">
				  		<h2>Details</h2>
						<h3>Name:</h3>
						<p>Divyansh Kumar</p>
						<h3>Age:</h3>
						<p>19 Years</p>
						<h3>Location</h3>
						<p>11/262 F-Block Rajajipuram, Lucknow ,India</p>
				  	</div>
				</div>
			</div>
	
		</div>
		<div  class=" perfect float-right " >
			<p id="1" class="number pg2">Profile</p>
			<p id="2" class="number pg2">Experiences</p>
			<p id="3" class="number pg2">Abilities</p>
			<p id="4" class="number pg2">Projects</p>
			<p id="5" class="number pg2">Contacts</p>
		</div>

		
		
	</div>
	
	
	
	
	
	<div class="page3">
		<div class="jumbotron jumbotron-fluid" >
		  <div class="container">
		    <h1 class="display-3">Experiences</h1>
		    <p class="lead">“Protons give an atom its identity, electrons its personality. <br> - Bill Bryson, A short history of nearly everything</p>
		  </div>
		</div>
		<hr>
		<div class="container ">
			<h2 class="title">Education</h2>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>IIT(BHU)-Varanasi</h3>
					<p>July 2016- May 2020</p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>B.Tech Mining Engineering</h4>
					<p>Mining engineering is an engineering discipline that applies science and technology to the extraction of minerals from the earth.I have completed my first year with an CPI of 7.86.I realized during my first year that I wanted to do something with websites, and so I started making small flash/actionscript applications.Even in the field of competitive programming I persue a genuine interest. <br><a href="http://iitbhu.ac.in/"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a><button class="btn btn-outline-primary btn-sm	">Grade Sheet</button></p>
			  	</div>
			</div>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>Lucknow Public School</h3>
					<p>2014-15</p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>Intermediate Class-XII</h4>
					<p>I graduated intermediate with science side having an extra subject, computer science . My intermediate boards percentage was 96% with the following details. <br><a href="http://www.lucknowpublicschoolsandcolleges.com/"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a> <button class="btn btn-outline-primary btn-sm	">Certificate of Honour  </button></p>
			  	</div>
			</div>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>Lucknow Public School</h3>
					<p>2012-13</p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>Highschool Class-X</h4>
					<p>I graduated highschool, where I enjoyed doing science, math, biology and hindi. My highschool boards percentage was 89.6% with the following details. <br><a href="http://www.lucknowpublicschoolsandcolleges.com/"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a> <button class="btn btn-outline-primary btn-sm">Highschool MarksSheet</button></p>
			  	</div>
			</div>

		</div>
		<hr>

		<div class="container ">
			<h2 class="title">Carrers</h2>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>LUDIFU | Let Us Do It For You</h3>
					<p>March 2017	- May 2017</p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>Online - Social Media Marketing (SMM) Intern</h4>
					<p>Worked as a social media marketing intern in an startup based company LUDIFU which is a startup of an pennsylvania university graduate. The intern was baiscally about marketing of the startup on the social media paltform through facebook, instagram, twitter, snapchat etc.</p>
					<a href="https://www.ludifu.com/"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a><button class="btn btn-outline-primary btn-sm">Certificate of Internship</button>
			  	</div>
			</div>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>Zeeley | Connecting People</h3>
					<p>Nov 2016	- Mar 2017</p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>PartTime - Publicity &amp; marketing intern</h4>
					<p>As a senior at The Secret Lab I work on projects like Kaartjes.nl, Clay.com and more. Using frameworks and technologies such as Laravel, Wordpress, Drupal 8 and ElasticSearch. I also introduced working with Git Flow and supporting my colleagues to write nice readable and reusable code.</p>
					<a href="https://www.ludifu.com/"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a><button class="btn btn-outline-primary btn-sm">Certificate of Internship</button>
			  	</div>
			</div>

		</div>

		<hr>

		<div class="container ">
			<h2 class="title">Academics</h2>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>Tech Vista- Seth M.R. Jaipuria School</h3>
					<p>Nov 2014-15 </p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>Program Crisis- A program debugging competition</h4>
					<p>Stood Runner up in the competition, Program Crisis oraginised by Seth M.R. Jaipuria School under its I.T. fest Tech Vista</p>
					<button class="btn btn-outline-primary btn-sm" style="margin-left:80px">Certificate of Achievement</button> 
			  	</div>
			</div>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>Indian Association of Physics Teachers</h3>
					<p>Nov 2014-15 </p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>National Standard Examination In Chemistry</h4>
					<p>Stood among the Top 10% of the candidates enrolled in the center no. UP269. The examination was conducted at the 758 centers in all with a total of 33682 candidates enrolled.</p>
					<a href="http://www.iapt.org.in/index.php/exams/nse/nsec-b-a-js.html"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a><button class="btn btn-outline-primary btn-sm">Certificate of Achievement</button> 
			  	</div>
			</div>

		</div>

		<hr>
		<div class="container ">
			<h2 class="title">Extra-Cirricular Activities</h2>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>Techgig</h3>
					<p>July 2017 </p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>Tech Week Challenge6</h4>
					<p>Secured 8th rank in the coding competition organised by Techgig.com</p>
					<a href="https://www.techgig.com/challenge/tech-week-6"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a><button class="btn btn-outline-primary btn-sm">Certificate of Participation</button> 
			  	</div>
			</div>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>Technex</h3>
					<p>Feb 2017 </p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>Public Relation (PR)</h4>
					<p>Worked as a core team member in the techno-management fest of IIT (BHU), Technex and also was the team member of the public relation team of the fest.</p>
					<a href="http://www.technex.in/"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
			  	</div>
			</div>
			<div class="row">
			  	<div class="col-12 col-sm-4">
			  		<h3>Kashiyatra</h3>
					<p>Jan 2017 </p>
				</div>
			  	<div class="col-12 col-sm-8">
			  		<h4>India Quiz</h4>
					<p>Participated in the India Quiz organised by IIT(BHU) in the socio-cultural fest, Kashiyatra</p>
					<a href="http://www.kashiyatra.org/"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a><button class="btn btn-outline-primary btn-sm">Certificate of Participation</button> 
			  	</div>
			</div>

		</div>
		

	</div>

	<div class="page4">
		<div class="jumbotron jumbotron-fluid" >
		  <div class="container">
		    <h1 class="display-3">Abilities</h1>
		    <p class="lead">“Life without knowledge is death in disguise.” <br> - Talib Kweli</p>
		  </div>
		</div>

		<hr>
		<div class="container ">
			<h2 class="title">Skills</h2>
			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow clearfix">
			  			<div class="col-6 ">
			  				<p>Bootstrap Framework</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>CSS(3)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>HTML(5)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star " aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>JavaScript</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>NoSQL</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Express</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>MongoDB</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Competitive Programming</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>API</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>NodeJs</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Command line Inteface</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>C</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Jquery</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>GitHub</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Java</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>AngularJS</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Python</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
			</div>
		</div>

		<hr>
		<div class="container ">
			<h2 class="title">Languages</h2>
			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Hindi (Mother tongue)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Urdu(Survivable)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>English</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star " aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
			</div>
		</div>

		<hr>
		<div class="container ">
			<h2 class="title">Tools</h2>
			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>SublimeText2 (1 years)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>AdobePhotoshop (2 years)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Ms-Office (4 years)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>NotePad++ (1 year)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>GoolgeChrome (4 years)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Windows (5 years)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Paint (6 year)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
				
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>Adobe Premier Pro (1 year)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
			  	</div>
			</div>

			<div class="row">
			  	<div class="col-12 col-md-6">
			  		<div class="row starsrow">
			  			<div class="col-6">
			  				<p>CodeBlocks (2 years)</p>
			  			</div>
			  			<div class="col-6">
			  				<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
			  			</div>
			  		</div>
				</div>
			</div>
		</div>


	</div>

	<div class="page5">
		<div class="jumbotron jumbotron-fluid" >
		  <div class="container">
		    <h1 class="display-3">Projects</h1>
		    <p class="lead">“You can do anything you set your mind to.” <br> - Benjamin Franklin</p>
		  </div>
		</div>

		<hr>
		<div class="container ">
			
			<div class="row">
			  	<div class="col-12 filter ek col-md-6">
			  		<img src="/images/yelpground.JPG">
			  		  <button type="button" class="btn  btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
			  	</div>
			  	<div class="col-12 filter do col-md-6">
			  		<img src="/images/todo.JPG">
			  		  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
			  	</div>
			</div>

			<div class="row secondrow" >
			  	<div class="col-12 filter teen col-md-6">
			  		<img src="/images/pata.JPG" >
			  		  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
			  	</div>
			  	<div class="col-12 filter  chaar colla col-md-6 html">
			  		<div class="row ">
					  	<div class="col-6 ">
					  		<img src="/images/project3.JPG">
					  	</div>
					  	<div class="col-6">
					  		<img src="/images/project4.JPG">
					  		
					  	</div>
					</div>	
					<div class="row">
					  	<div class="col-6">
					  		<img src="/images/project1.JPG">
					  	</div>
					  	<div class="col-6">

					  		<img class="lastimg" src="/images/project2.JPG">
					  	</div>
					</div>	
					<button type="button" id="google" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
			  	</div>

			</div>

			

		</div>
		<p id="middle">These projects are build on a custom made Express.js framework.</p>
			<a href="https://github.com/Divish1032/CV/tree/master/public"><button class="btn btn-outline-warning">See project on GITHUB</button></a>
	</div>

	<div class="page6">
		<div class="jumbotron jumbotron-fluid" >
		  <div class="container">
		    <h1 class="display-3" style="color:white;text-shadow:none;">Contact</h1>
		    <p class="lead">“If I had asked people what they wanted, they would have said faster horses. ” <br> - Henry Ford</p>
		  </div>
		</div>

		<hr>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
			  		<p> <i class="fa fa-mobile fa-2x" aria-hidden="true"></i> <span class="mo" >Contact Number <span id="mobile">: 8604568961</span></span></p> 
			  	</div>
			  	<div class="col-12 col-md-6">
			  		<p><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>  <span class="em">Email me <span id="email">: kumar.divyansh1996@gmail.com</span></span></p>
			  	</div>
			</div>
			<div class="row">
				<div class="col-12 address">
			  		<p><i class="fa fa-home fa-2x" aria-hidden="true">  </i> <span class="address1">  Address <br><span id="home">House No.-260 Sector-11, F-BLock Rajajipuram, Lucknow, U.P</span></span></p>
			  	</div>
			</div>
		</div>
		<hr>

		<div class="container buttoncon">
			<button class="btn btn-primary btn-sm"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
			<button class="btn btn-primary btn-sm facebook2"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like 32<span class="facelike">6</span></button>
		</div>



	</div>
	
	<div  class="modal  fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content" id="yelp">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">YelpCampgrounds</h4>
	        </div>
	        <div class="modal-body">
	          <p>A Place Where You Meet With You Dream</p>
	          <div class="how">
		          <a href="https://serene-thicket-86337.herokuapp.com/" target="_blank">Click Here</a>
		          <span style="display:none;"><a href="MyProject/HTML pages/project2/index.html" target="_blank">Buisness</a>
		          <a href="MyProject/HTML pages/project3/index.html" target="_blank">John-Doe CV</a>
		          <a href="MyProject/HTML pages/project4/index.html" target="_blank">Double</a></span>
	          </div>
	          </div>
	       
	      </div>
	    </div>
  	</div>
  	
  	

	<script type="text/javascript" src="/script/java.js"></script>
</body>
</html>


					
					
					

					
