html, body{
	width: 100%;
}
.page1{
	 
    
    
    margin: 0;
    background-image: url('/images/son-goku.jpg') ;
    background-repeat: no-repeat;

    
    background-size: 100% 650px;


    
} 
.bounce{
	float: right;
}
.page1{
	padding-bottom: 82px;
	height: 100%;
}
.heading{
	text-align: center;
	margin: 0;
	padding-top: 200px;
	word-spacing: 8px;
	letter-spacing: 6px;
	font-size: 96px;
	color: black;
	text-shadow:none;
	font-style: italic;
}
.widthpro{
	display: none!important;
}
.page1 p{
	font-size: 40px;
	font-style: normal;
	text-align: center;
	margin: 0;
	margin-bottom: 210px;
}
.page1 hr{
	margin-top: 5px;
	margin-bottom: 5px;

}

.page1 i{
	color: white;
	
	padding: 35px 39px 25px;
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid #1a1a1a;
	

}
i:hover{
	cursor: pointer;
}
 .page1 i:hover{
 	animation-iteration-count: 0;
 	

 } 
.page2 .container{
	width: 90%;

}



@keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
            40% {transform: translateY(-30px);} 
            60% {transform: translateY(-15px);} 
         }

.bounce { 
    animation-name: bounce;
    animation-iteration-count: infinite; 
 }

.animated{
    animation-duration: 1s;           
    animation-fill-mode: both;
 } 

.page2{
	width: 100%;
	padding-bottom: 30px;


}

.page2 .jumbotron, .page4 .jumbotron{
	background-color: white;
	margin: 0;
}

.page3 .jumbotron, .page5 .jumbotron{
	background-color: #66ffcc;
	
}
.page3 button{
	background-color:  #007bff;
	
}

.page3 button:hover{
	color: white;
	font-style: italic;
	font-weight: bold;
	border:1px solid #007bff;
}
.page6 .jumbotron{

	background-color: #1a1a1a;

}
.bolt:hover{
	cursor: pointer;
	color: grey;
}
.user p{
	margin: 0;
	padding: 0;
}
.user div{
	width: 50px;
	display: none;
	position: fixed;
	left: 90px;
	top: 100px;
}
.user div a{
	cursor: default;
}
.page3 .container, .page4 .container{
	width: 70%;
}
.page5 .container, .page6 .container{
	width: 70%;
}

.user div span{

	padding: 5px;
	color: white;
	margin: 0 ;
		background-color: black;
	border-bottom: 1px solid grey;
}
.user div span:hover{
	background-color: #999999;
	color: white;
}

 h1{
	font-size: 70px;
	font-family: 'Crimson Text', serif;
	text-align: center;
	color: #ffd633;
	text-shadow: 2px 2px #ff8c1a;
}

.jumbotron p{
	text-align: center;
	font-size: 25px;
	font-weight: 100;
	font-family: 'Average', serif;
	
	letter-spacing: 1px;
}
.page5 button{
	background-color: #ffc107;
}

.page5 button:hover{
		color: white;
		font-style: italic;
		font-weight: bold;
		border:1px solid #ffc107;
}
hr{
	width: 70%;
	margin: 30px auto;
	 border-bottom: 1px solid grey;
}
.page2 .row p{
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 20px;
	word-spacing: 5px;
	font-size: 17px;
	margin: 5px 0;
}
  h2{
  	
	color: brown;
}
 .row{
	width: 90%;
	margin: 30px auto;
}
.page2 img{
	border: 10px solid #66ffcc;
	width: 240px;
	margin: 50px 0;
	height: 250px;
	border-radius: 50%;
}
.container{
	padding-left:0;
	padding-right: 0; 

}
.main{
	width: 80%;
	margin-right: 0;
	margin-left: 120px;
	
}
.fa-user-plus{

	position: fixed;
	top: 220px;
	padding: 8px ;
	padding-right:28px;
}
.perfect{
		
	
	width: 108px;
	

	
	
	
	background-color: black;
}
.side{
	position: fixed;
	right: 0;
	top: 100px;	
}

.side2{
	float: right;
	position: relative;
	top: -820px;
}

.perfect p{
	margin:0;
	text-align: center;
	font-size: inherit;
	padding:25px  10px;
	color: white;
	height:18%;
}

.perfect:hover{
	cursor: pointer;
}

.title{
	width: 90%;
	margin: 0 auto;
	letter-spacing: 2px;
}

.btn{
	margin: -10px 0 0 40px;
	width: 174px;
}
.page3{
	background-color: #66ffcc;
	padding-bottom: 60px;
}
.page3 i{
	margin: 15px 0 0 20px;
}
.starsrow{
	margin: 0;
}
.page5{
	background-color: #66ffcc!important;
	padding-bottom: 60px;
}
.page4{
	padding-bottom: 60px;
}
.starsrow div{
	float: left;
	width: 45%;
	padding-left: 20px;
}
.page4 .row{
	margin-bottom: 0;
	width: 100%;
	margin-top: 0;
	margin-left: 20px;
}

.page4 h2{
	margin-bottom: 30px;
}

.page5 img{
	padding: 10px;
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.html img{
	padding: 	10px;
	
	margin:5px 5px;
	border-radius: 15px;
	height: 50%;
	width: 45%;
	float: left;
}
.lastimg{
	height: 100px!important;
}


.html .row{
margin:0;
}

#middle{
	text-align: center;
	color: black;
	font-size: 1.1em;
	font-style: italic;
	margin:40px 0;
}

.page5 .btn{
	margin: 0 auto ;
	
	width: 185px;
	display: block;
}
.address{
	text-align: center;
}

span{
	padding-bottom: 15px;
	padding-left: 15px;
}
.page6 button{
	width: auto;
	display: inline-block;
	margin: 10px 20px;

}
button span{
	padding: 0;
	

}
.page6 .row span{
	color: #999;
}
.page6{
	background-color: #1a1a1a!important;
	color: #666666;
	padding-bottom: 55px;
}

.buttoncon{
	width: 300px!important;
	margin: 0 auto;
	
}
button:hover{
	cursor: pointer;
}
.page6 button:hover{
	color: black;
}

#mobile, #email,#home{
	font-size: 1.2em;
	top: 1px;
	display: none;
	font-weight: normal;
}



.page6 span:hover{
	cursor: pointer;}
	.page6 i:hover{
		cursor: default;
	}
	
	
	.page5 .row button{
		display: none;
	}
	#yelp {
	  background: #F09819;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
	.modal-body{
		height:130px!important;
	}

	#yelp h4{
		text-align: center;
		border:none!important;
		color: white;
		
	}
	#yelp p{
		text-align: center;
		font-size: 1.2em;
		padding-bottom:30px;
	}
	
	#yelp a{
		text-decoration:none;
		border:1px solid grey;
		background:#999;
		color:white;
		padding: 10px;
		width:70px;
		margin:0 0 0 230px ;
		
		border-radius:10px;
		
	}
	

	.yahoo {
	margin: 0 0 0 40px!important;
	width: 90px!important;
	float: left;
	}